/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

/* Navbar */
.navbar {
    background-color: #FFF;
    padding: 15px 0;
}

.nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

.nav-list a {
    color: #000000;
    text-decoration: none;
    font-size: 13px;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 100px 0;
    background: linear-gradient(to bottom, #dff0fb, #f9fbfd);
    color: #1d1d1f;
}

.hero h1 {
    font-size: 56px;
    font-weight: 600;
    margin-bottom: 10px;
}

.hero h2 {
    font-size: 28px;
    font-weight: 400;
    padding: 2px 0;
}

#macbook_air {
    padding: 50px 0;
    margin: 30px auto;
    display: block;
    max-width: 100%;
    height: auto;
}


/* Product Grid */
.product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.product-item {
    text-align: center;
    padding: 40px;
    background-color: #f5f5f7;
}

/* Links */
.cta-links {
    margin-top: 20px;
}

#more_info {
    background-color: #0071e3;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 999px;
    font-size: 16px;
    font-weight: 500;
}
 
#buy {
    background-color: transparent;
    color: #0071e3;
    padding: 12px 24px;
    border: 1px solid #0071e3;
    border-radius: 999px;
    font-size: 16px;
    font-weight: 500;
    
}